* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body {
  background-color: #2b323c;
  background-color: #000;
  color: #fff;
}
.game {
  width: 780px;
  margin: 20px auto;
  max-width: 100%;
  text-align: center;
}
.game .title {
  background-color: #f25;
  margin: 5px 5px 20px;
  padding: 5px 0;
  font-size: 28px;
  font-weight: bold;
}
.game .title span {
  color: #fa0;
  font-weight: bold;
}
.game .square {
  display: none;
  width: calc((100% / 3) - 10px);
  height: 150px;
  background-color: #f25;
  border-radius: 5px;
  float: left;
  margin: 5px ;
  font-size: 70px;
  font-weight: bold;
  line-height: 150px;
  cursor: pointer;
  transition: .3s;
  text-transform: uppercase;
}
.square:hover {
  background-color: rgb(236, 7, 61);
  transition: .3s;
}
.controls {
  background-color: #2b323c;
  margin: 50px auto;
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}
.options {
  display: flex;
  margin-top: 15px;
}
.options button {
  width: 50%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #f25;
  border-radius: 4px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #DDD;
  text-transform: uppercase;
  opacity: .4;
  transition: .3s;
}
.options button.active {
  opacity: 1;
}
.controls .start {
  background-color: #f25;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0;
  margin-top: 25px;
  cursor: pointer;
  font-size: 22px;
  transition: .3s;
}
.controls .start:hover {
  background-color: rgb(168, 10, 46);
  transition: .3s;
}